<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurants[0].getType }}</title>
</head>

<body>
    <h2>{{ restaurants[0].getType }}</h2>
    {% if restaurants is not empty %}
        <ul>
            {% for restaurant in restaurants %}
                <li>{{ restaurant.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
